<div class="ui message" *ngIf="!auth.isLoggedIn()">
  <div class="header">
    Login
  </div>
  <p>Ingresa</p>
  <button class="ui button" (click)="login()">Login</button>
</div>

<div class="ui message" *ngIf="auth.isLoggedIn()">
  <div class="header">
    Hola {{ auth.getUser() }}
  </div>
  <p>cerrar</p>
  <button class="ui button" (click)="logout()">logout</button>
</div>

