<div class="ui menu">
  <div class="header item">
    Our Company
  </div>
  <a [routerLink]="['/home']" class="item">Home</a>
  <a [routerLink]="['/about']" class="item">About Us</a>
  <a [routerLink]="['/contact']" class="item">Contact</a>
  <a [routerLink]="['/login']" class="item">Login</a>
  <a [routerLink]="['/protected']" class="item" *ngIf="auth.isLoggedIn()">Protected</a>
  <a [routerLink]="['/products']" class="item">products</a>
</div>

<div id="ui content">
  <router-outlet></router-outlet>
</div>

