<div class="ui menu">
  <div class="header item">
    Produtcs
  </div>
  <a [routerLink]="['./main']" class="item">Main</a>
  <a [routerLink]="['./create']" class="item">Create</a>
  <a [routerLink]="['./more-info']" class="item">More info</a>
  <a [routerLink]="['./','1']" class="item">Product</a>
  <a (click)="goToProductPage()" class="item">Product</a>
</div>

<div id="ui content">
  <router-outlet></router-outlet>
</div>

